Attributes [swGridMode="2"]
LoadInstrument LED[BoundX="40",BoundY="40",Port="0x01",swBIT="7"]
LoadInstrument LED[BoundX="60",BoundY="40",Port="0x01",swBIT="5"]
LoadInstrument LED[BoundX="80",BoundY="40",Port="0x01",swBIT="3"]
